<div class="row">
  <br>
</div>

<div class="row">
  <div class="col-md">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Signups</h5>

        <%#= line_chart User.group_by_day(:created_at).count, min: 0, round: 0, width: "200px", height: "100px" %>

        <%= line_chart admin_charts_signups_path, min: 0, round: 0, width: "200px", height: "100px", download: true %>

      </div>
    </div>
  </div>

  <div class="col-md">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Panel 2</h5>
        <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
        <a class="card-link">Card link</a>
        <a class="card-link">Another link</a>
      </div>
    </div>
  </div>

  <div class="col-md">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Panel 3</h5>
        <h6 class="card-subtitle mb-2 text-muted">Panel subtitle</h6>
        <p class="card-text">Something goes here.</p>
        <!--
        <a class="card-link">Card link</a>
        <a class="card-link">Another link</a>
        -->
      </div>
    </div>
  </div>

</div>
