<div class="row">
  <div class="col-lg-12">
    <p>
      <strong><i>
        PLACEHOLDER CONTENT
      </i></strong>
    </p>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <p>
      For the payment of one weeks rent, My Bond will pay your Rental Bond board obligation.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <p class="text-muted">
      TERMS AND CONDITIONS
    </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <ul class="text-muted">
      <li>Payment of <%= currency(@contract.property_weekly_rent) %></li>
      <li>My Bond will then pay the Rental Bond Board obligation of <%= currency(@contract.rental_bond) %></li>
      <li>Until the lease contract is terminated, an annual payment of <%= currency(@contract.property_weekly_rent) %> is also required</li>
      <li>When the lease is terminated, the rental bond will be returned to My Bond and any property damage will be paid for by you</li>
      <li>By proceeding you indicate that you agree to the these Terms and Conditions</li>
    </ul>
  </div>
</div>
