<div class="row form-group row_padding">
  <div class="col-lg-12">
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: <%= progress %>%" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>
