
<!--
<div class="row">
  <div class="col-md-12 col-lg-12">
  <h4>How it works</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-12">
    <ul>
      <!-- <li>You provide us with your new property and agent details</li>
      <li>You provide us with some information so we can access your credit history</li>
      <li>You pay us 1 weeks rent</li>
      <li>We pay the full rental bond and let the agent know the bond has been paid</li>
      <li>You move into your property</li>
      <li>You provide us with your current bond details</li>
      <li>We validate these with your Agent and the Rental Bond Board</li>
      <li>We arrange for transfer of ownership of your bond to us</li>
      <li>You receive your payout</li>
    </ul>
  </div>
</div>
-->

<!--
<div class="row">
  <div class="col-lg-12">
    <h5>What you will need to apply</h5>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-12">
    <ol>
      <li>Approval for a rental property</li>
      <li>The property agent and rental details
      <li>A good credit history</li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-12">
    <br>
  </div>
</div> -->

<div class="row">
  <div class="col-md-12 col-lg-12">
    <br>
    <h4>
      MyBond will pay you <span class="pacific_blue"><%= @quote[:bond_payout].gsub(".00", "") %></span> for your bond.
    </h4>
    <%#= @quote.inspect %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-12">
    <br>
    <p>
      To apply for your payout you will need to provide the following.
    </p>
    <ul class="text-muted">
      <li>Your Bond details and a copy of your tenancy ledger</li>
      <li>Address of the property</li>
      <li>Your Real Estate Agent contact details</li>
      <li>Proof of your identity</li>
      <li>A nominated bank account to receive the funds</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-12">
    <p>
      After receiving your application we will validate the details with your Real Estate Agent and the Rental Bond Board.
    </p>
    <p>
      If you meet our application conditions you will receive the funds in 2-3 working days.
    </p>
  </div>
</div>

<!--
<div class="row">
  <div class="col-md-12 col-lg-12">
  <h4>What Happens Next</h4>
  <ol>
    <li>We validate your details</li>
    <li>We validate your details</li>
    <li>Once approved we transfer the funds to your nominated bank account</li>
  </ol>
  </div>
</div>
-->

<div class="row">
  <div class="col-md-12 col-lg-12">
    <br>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-12">
    <%= form_with(url: step1_path, local: true) do |f| %>
      <%= render partial: 'apply/hidden_customer' %>
      <%= render partial: 'apply/hidden_contract' %>
      <button id="calculator_apply_button" type="submit" class="btn btn-success">Continue with my application!</button>
    <% end %>
    <%#= link_to 'Apply Now', step1_path, class: "btn btn-info" %>
  </div>
</div>
