<div class="row">
  <div class="col-lg-12">
    <h2>Invitation</h2>
  </div>
</div>

<% if Rails.env.development? %>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <p>
        <%= @customer.email %> - userid: 12345678 - pwd:	TestMyMoney
      </p>
    </div>
  </div>
<% end %>

<%= render partial: 'apply/offer' %>

<div class="row">
  <div class="col-lg-12">
    <p class="small text-muted">
      <i>
        <strong>Note</strong>
        If you do not have internet banking, please call us on <%= ENV['telephone_number'] %> to complete the application.
      </i>
    </p>
  </div>
</div>


<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="embed-responsive embed-responsive-1by1">
      <iframe id="split_payments_iframe" class="embed-responsive-item" src="<%= @link %>" allowfullscreen="">
        <p>Your browser does not appear to support iframes</p>
      </iframe>
    </div>
  </div>
</div>

<!--
style='width: "75%", height: "50em"'
 -->
