<h2>Pay by Credit Card</h2>

<% if @customer.nil? %>

  <div class="row">
    <div class="col-lg-12">
      <p>There was a problem, please contact support</p>
    </div>
  </div>

<% else %>
  <%= render partial: 'apply/pay_by_credit_card', locals: { customer: @customer, contract: @contract } %>
<% end %>
