<div class="container">

  <% if @error %>
    <div class="alert alert-danger">
      <p>
        <%= @error %>
      </p>
    </div>
  <% else %>
    <%#= @contract.inspect %>
    <p>Your payment was successfull!</p>

    <p>You will shortly receive a tax invoice and rental bond board confirmation</p>
  <% end %>
</div>
