<div class="row">
  <div class="col-lg-12">
    <h3>Who is renting the property</h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <br>
  </div>
</div>

<%= render partial: 'apply/step1', locals: { customer: @customer } %>
