.calculator_body {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    color: #778191;
    background-color: #f4f6f8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.bg-white {
  background-color: #fff!important;
}

.lead-hero-wrapper {
  background: url(../images/lead-hero-img.jpg) no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
}

.lead-hero-caption {
  color: #fff;
  padding-top: 50px;
  margin-bottom: 20px;
}

.lead-hero-title {
  font-size: 48px;
  color: #fff;
  line-height: 58px;
}

.text-white {
  color: #fff;
}

.lead {
  color: #0a2759;
  line-height: 30px;
  font-size: 20px;
}

.rating-list {
  color: #f99d31;
  margin-top: 25px;
  font-size: 14px;
}

.lead-calculator {
  background: #15549a;
  color: #fff;
  border-radius: 6px;
}

.pinside40 {
  padding: 40px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.pinside40 {
  padding: 40px;
}

.lead_paragraph {
   margin: 0 0 26px;
   line-height: 1.6;
   font-weight: 400;
   color: #fff;
}

.section-space80 {
  padding-top:    80px;
  padding-bottom: 80px;
}
