<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-info">
      <p>
        <strong>Customer: </strong> <%= @customer.full_name %><br>
        <strong>Email: </strong> <%= @customer.email %><br>
        <strong>Telephone: </strong> <%= @customer.international_mobile %></br>
      </p>
    </div>
  </div>
</div>
