<h1>Editing contract</h1>

<%= render partial: 'admin/customers/contracts/customer_details' %>

<%= render 'form', customer: @customer, contract: @contract %>

<%#= link_to 'Show', @customer %> |
<%= link_to 'Back', admin_customer_contracts_path(customer_id: @customer.id) %>
