<h1>Editing Privacy Policy</h1>

<%= render 'form', privacy_policy: @privacy_policy %>

<%= link_to 'Show', admin_privacy_policy_path(@privacy_policy) %> |
<%= link_to 'Back', admin_privacy_policy_path %>
