<head>
  <title>MyBond</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175436056-1"></script>
  <%#= javascript_include_tag 'analytics', async: true %>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- Bootstrap CSS -->
  <%#= stylesheet_link_tag 'bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- Style CSS -->
  <%#= stylesheet_link_tag 'style.css', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
