<!DOCTYPE html>
<html>

<%= render 'layouts/head' %>

<body onload="copy_selector()">
  <%= render "shared/flash_messages", flash: flash %>
  <%= render 'layouts/loading_overlay' %>

  <%= yield %>

  <%#= render 'layouts/footer' %>
</body>
</html>
